@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$pathImg: 'dist/images';

$mainColor: #22262a;
$backgroundPage: #e5e5e5;

html {
  font-size: 10px;
  font-family: Poppins;
  font-weight: 400;
  color: $mainColor;
  background-color: $backgroundPage;

  @media (max-width: 992px) {
    font-size: 12px;
  }
}

.container {
  width: 71%;
  height: inherit;
  margin: 0 auto;

  @media (max-width: 1300px) {
    width: 80%;
  }
  @media (max-width: 1150px) {
    width: 90%;
  }
}

.burger-icon {
  display: none;

  &:hover {
    cursor: pointer;
  }
  @media (max-width: 992px) {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.5rem;
    transition: 200ms;
    left: 0;
  }

  @media (max-width: 500px) {
    width: 2.5rem;
    height: 2rem;
  }

  &__part {
    height: 15%;
    background-color: $mainColor;
  }

  &--close {
    font-size: 4rem;
    left: 30%;
    @media (max-width: 768px) {
      left: 60%;
    }
    @media (max-width: 500px) {
      font-size: 3rem;
    }
  }
}

.header {
  position: relative;
  &__nav-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.9rem 0;
  }

  &__nav-links {
    @media (max-width: 992px) {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;

      width: 40%;
      height: 100vh;

      background-color: $backgroundPage;
      transform: translate(-100%);
      transition: 200ms;

      animation: 200ms forwards unVisible;

      @keyframes unVisible {
        100% {
          display: none;
        }
      }
    }
    @media (max-width: 768px) {
      width: 70%;
    }

    &--open {
      z-index: 10;

      @media (max-width: 992px) {
        // display: block;
        visibility: visible;
        transform: translate(0);
      }
    }
  }
  &__nav-links-inner {
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
      padding: 2rem 0;
    }
  }

  &__nav-link-item {
    padding: 0 1.5rem;
    @media (max-width: 992px) {
      padding: 1.8rem 0 1.8rem 2rem;
    }
  }

  &__nav-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;

    @media (max-width: 992px) {
      font-size: 2.5rem;
    }
    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }

  &__personal-area {
    width: 14.8rem;
    height: 1.8rem;
  }

  &__content {
    height: 74.5rem;
    background-image: url('../images/headerBG.png');
    background-size: 100% 100%;

    @media (max-width: 992px) {
      height: 55rem;
    }

    @media (max-width: 768px) {
      height: 30rem;
    }
  }

  &__content-wrapper {
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media (max-width: 992px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-bottom: 10rem;

    @media (max-width: 992px) {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  &__content-subtitle {
    font-size: 1.8rem;
    @media (max-width: 500px) {
      font-size: 1.4rem;
    }
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width: 768px) {
      width: 50%;
      text-align: center;
    }
  }

  &__button:first-child {
    margin-right: 3rem;
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}

.categories {
  margin-top: 12.3rem;
  height: 57.4rem;
  display: flex;

  @media (max-width: 768px) {
    margin-top: 3rem;
    flex-direction: column;
    height: auto;
  }

  &__small-previews {
    flex-grow: 1;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__small-horizontal-preview {
    width: 100%;
    height: 48.5%;
  }

  &__square-previews {
    display: flex;
    justify-content: space-between;
    height: 48.5%;
  }

  &__one-square-preview {
    width: 48.5%;
    @media (max-width: 768px) {
      width: 49.8%;
    }

    &:first-child {
      margin-right: 2.56rem;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
  }

  &__main-preview {
    position: relative;
    flex-grow: 1;
    margin-left: 1.5rem;

    @media (max-width: 768px) {
      margin-left: 0;
      flex-grow: initial;
      height: 40rem;
      margin-top: 0.3rem;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__main-preview-image {
    width: 100%;
    height: 100%;
  }

  &__button {
    z-index: 5;

    position: absolute;
    bottom: 2.5rem;
    left: 2.8rem;

    background-color: $backgroundPage;
    color: $mainColor;
  }
}

.gender-fashion {
  &__title-wrapper {
    margin-top: 11.3rem;
    @media (max-width: 768px) {
      margin-top: 7.3rem;
    }
  }

  &__card-row {
    margin-top: 7.2rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    width: 23.5%;
    text-transform: uppercase;
    @media (max-width: 768px) {
      width: 49%;
      margin-top: 1.5rem;
    }
  }
  &__card-image {
    width: 100%;
  }

  &__card-title {
    margin-top: 3.8rem;
    font-weight: 300;
    font-size: 1.5rem;
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }

  &__card-product-name {
    margin-top: 0.3rem;
    font-weight: 600;
    font-size: 1.5rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  &__price-wrapper {
    display: flex;
    font-size: 1.5rem;
  }
  &__old-price {
    margin-right: 3.3rem;
    &:before {
      content: attr(data-currency);
      display: inline;
      font-size: inherit;
    }
  }
  &__current-price {
    color: darkred;
    &:before {
      content: attr(data-currency);
      display: inline;
      font-size: inherit;
    }
  }
}

.avone-styles {
  &__title-wrapper {
    margin-top: 10.3rem;
    margin-bottom: 7.2rem;
    @media (max-width: 768px) {
      margin-top: 7.3rem;
      margin-bottom: 3.2rem;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    width: 48.7%;
    @media (max-width: 768px) {
      width: 100%;
    }

    &:first-child {
      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }
  }

  &__left-img-wrapper {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }
  &__left-img {
    width: 100%;
    height: 100%;
    margin-top: 10.7rem;
    @media (max-width: 768px) {
      margin-top: 7.2rem;
    }
  }

  &__right-first-image {
    width: 93.1%;
    height: 45.1rem;
    flex-grow: 1;
    @media (max-width: 768px) {
      height: 30rem;
    }
  }

  &__right-second-image-inner {
    display: flex;
    justify-content: flex-end;
    // position: relative;
    margin-top: -6rem;
  }

  &__link-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__link {
    position: relative;
    top: 6rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }

    &:after {
      content: '';
      display: block;
      height: 0.1rem;
      background-color: $mainColor;
    }
  }

  &__right-second-image {
    box-sizing: border-box;
    border: 2.5rem solid $backgroundPage;
    border-right: none;
    border-bottom: none;
    width: 25.2rem;
    height: 32.3rem;

    @media (max-width: 768px) {
      width: 18.2rem;
      height: 20.3rem;
    }
  }
}

.banner {
  position: relative;
  margin-top: 12.1rem;
  height: 74.5rem;
  background-image: url('../images/banner.png');
  background-size: 100% 100%;

  @media (max-width: 768px) {
    height: 30rem;
    margin-top: 7.3rem;
  }

  &__content-inner {
    width: fit-content;
    position: absolute;
    bottom: 15.5rem;
    @media (max-width: 768px) {
      width: fit-content;
      position: relative;
      bottom: 0;
      top: 35%;

      margin: 0 auto;
    }
  }

  &__buttons {
    width: fit-content;
  }
}

.footer {
  font-size: 1.5rem;
  font-weight: 500;

  &__parts-wrapper {
    display: flex;
    margin-bottom: 10.6rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-bottom: 5rem;
    }
  }
  &__part {
    margin-top: 8.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 5rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 2.1rem;
    }
  }
  &__about-us {
    margin-top: 1.7rem;
    width: 80%;
    line-height: 2.25rem;
    letter-spacing: 0.1rem;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__location-wrapper {
    display: flex;
    margin-top: 4rem;
  }
  &__location {
    margin-left: 2.6rem;
  }

  &__email {
    margin-top: 1.6rem;
    width: fit-content;
    &:after {
      content: '';
      display: block;
      height: 0.1rem;
      background-color: $mainColor;
    }
  }

  &__social-network-icons {
    margin-top: 1.6rem;
  }

  &__send-email {
    margin-top: 2.4rem;
    height: 4.5rem;
    display: flex;
  }

  &__input-email {
    display: block;
    width: 90%;
    height: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 0.5rem;
    background-color: white;
  }

  &__btn-send-email {
    height: inherit;
    background-color: white;
    font-weight: 500;
    padding-right: 2.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__links {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
  }

  &__links-list-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__link-item {
    display: block;
    text-decoration: none;
    margin-top: 2.5rem;
    color: inherit;
    @media (max-width: 768px) {
      margin-top: 2rem;
    }
  }

  &__copyright {
    height: 9.3rem;
    background-color: #e7f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
  @media (max-width: 500px) {
    display: none;
  }
}

.tagline {
  font-size: 1.8rem;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}
.title {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 6rem;
  }

  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

.button {
  display: block;
  padding: 0.5rem 3.5rem;
  color: $backgroundPage;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: $mainColor;
  text-decoration: none;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.section-subtitle {
  font-size: 1.5rem;
  @media (max-width: 500px) {
    font-size: 1.3rem;
  }
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 1.5rem;
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}
